<div class="container">
	<script type='text/stache' id="demo" can-autorender>
		<can-import from="bootstrap/dist/css/bootstrap.css!" />
		<can-import from="fixtures/emails" />
		<can-import from="components/emails/" />

		<ui-emails email-list="{emails}" folder="{folder}"></ui-emails>

	</script>
</div>

<script src="../../node_modules/steal/steal.js" main="can/view/autorender/">
	import $ from "jquery";
	import can from "can";
	import "fixtures/emails";
	import Email from "models/email";

	var list = new Email.List({});

	var vm = $('#demo').viewModel();

	vm.attr('folder','inbox');
	vm.attr('emails',list);

	

</script>
